button {
   padding: 10px;
   background-color: rgb(248, 221, 161);
}
.form-group {
   margin-bottom: 20px;
   padding: 10px;
   background: rgba(245, 245, 220);
}
.form-group input,
.form-group label,
.form-group textarea {
   display: block;
   width: 100%;
}
.form-group input {
   padding: 0;
   line-height: 30px;
   background: rgb(248, 221, 161);
   border-width: 0;
}
.sub-btn {
   font-size: 18px;
   margin-top: 5px;
   padding: 5px 15px;
}
p {
   font-size: 18px;
   font-family: "Roboto", sans-serif;
   color: #000000;
}
.error-text {
   color: red;
}
span {
   color: #000000;
}
