body {
   background: rgb(206, 228, 238);
}
.cart {
   position: relative;
   background-color: rgb(94, 155, 226);
   height: 60px;
}
.cart-block {
   position: absolute;
   border: rgb(0, 0, 0) 3px solid;
   background-color: rgb(174, 221, 233);
   margin: 15px;
   padding: 10px 10px;
}
.btn-search {
   height: 32px;
}

.invisible {
   display: none;
}

.products {
   width: 1180px;
   position: absolute;
   left: 450px;
   top: 150px;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}

.buy-btn,
.del-btn {
   width: 140px;
   color: rgb(245, 243, 243);
   background: rgb(4, 74, 153);
   text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   border: none;
   box-shadow: 2px 2px rgba(0, 0, 0, 0.699);
}
.buy-btn:hover {
   background: rgb(132, 170, 219);
   box-shadow: none;
}
.product-item:hover {
   transform: scale(1.05);
}
.product-item {
   text-align: center;
   text-decoration: none;
   height: 300px;
   border: rgb(4, 74, 153) 3px solid;
   margin: 20px;
   border-radius: 15px;
   transition: 1s;
}
.cart-item {
   text-align: center;
   justify-content: space-between;
   height: 330px;
   width: 200px;
   background: rgb(253, 250, 250);
   border: rgb(4, 74, 153) 3px solid;
   margin: 20px;
   border-radius: 15px;
}

.product-price {
   margin-left: 30px;
}
.goods-list-block-item {
   text-align: center;
   text-decoration: none;
   width: 240px;
   border: rgb(4, 74, 153) 3px solid;
   margin: 20px;
   border-radius: 15px;
}
.product-title,
.goods-list-block-title {
   font-size: 16px;
   font-family: "Montserrat", sans-serif;
   color: rgb(0, 0, 0);
   text-align: center;
   margin: 10px 0 5px 0;
}

.product-price,
.goods-list-block-price {
   font-size: 16px;
   font-family: "Montserrat", sans-serif;
   color: rgb(29, 18, 25);
   text-align: center;
   margin: 10px 0 5px 0;
}

.btn-cart {
   width: 200px;
   height: 25px;
   color: rgb(245, 243, 243);
   background: rgb(4, 74, 153);
   text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   border: none;
   box-shadow: 2px 2px rgba(0, 0, 0, 0.699);
}
.btn-cart:hover {
   background: rgb(132, 170, 219);
   box-shadow: none;
}
.product-img,
.goods-list-block-img {
   padding-top: 7px;
}

.header-top {
   height: 50px;
   background: rgb(132, 170, 219);
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.header-top-input {
   width: 600px;
   height: 20px;
   margin-left: 60px;
   padding: 5px 10px 5px 10px;
   border: none;
   font-family: "Montserrat", sans-serif;
}
.header-bottom {
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(174, 221, 233);
}
.header-bottom-list {
   display: flex;
   justify-content: space-around;
   width: 1300px;
   list-style-type: none;
}

.header-bottom-link {
   color: rgb(1, 0, 63);
   font-family: "Montserrat", sans-serif;
   font-size: 25px;
   text-decoration: none;
   text-transform: uppercase;
}

.header-bottom-link:hover {
   color: whitesmoke;
   background: rgba(83, 119, 167);
}
.emty {
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   color: rgb(7, 49, 97);
}
